<div id=menu>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [class.active]="guia=='home'" (click)="guia='home'" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="guia=='proj'" (click)="guia='proj'" href="#">Projetos</a>
    </li>
  </ul>
</div>
<!--Fim do menu-->
<div id="conteudo">
  <app-home *ngIf="guia=='home'"> </app-home>
  <app-projetos *ngIf="guia=='proj'"> </app-projetos>
</div>
<!--Fim do conteúdo-->
<div id="rodape">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <p class="nav-link">
        <a href="mailto:dev@vtsantana.com.br">dev@vtsantana.com.br</a>
      </p>
    </li>
  </ul>
</div>
