/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=PT+Mono');
:root{
  --primary:    #DAA520 !important;
  --secondary:  #00645F !important;
  --terciary:   #333;
  --fonts:      #FFF;
}

body{
  background: var(--primary) !important;
}
#head1, #foot1{
  background: var(--secondary);
  z-index: 999;
  position: fixed;
  width: 100%
}
#head1{
  top: 0;
  left: 0;
}
#foot1{
    bottom: 0;
    left: 0;
    height: 40px;
}
#conteudo{
  position: relative;
  top: 40px;
}
#hometitle{
  font-family: 'PT Mono', monospace;
  font-size: 200%;
  margin: 5%;
  text-align: center;
}
#hometitle:hover{
  filter: invert(100%);
}
#homeimagelinks{
  width: 200px;
  height: 200px;
  margin: auto;
}
.img{
  margin: 10px;
  width: 75px;
}
.img:hover{
  filter: invert(100%);
}
h1, h2, .nav-link, a, a:hover{
  color: var(--fonts);
}
.nav-link.active{
  background-color: var(--primary) !important;
}
.nav-tabs .nav-link, .nav-tabs{
  border: none;
}
.card{
  margin: auto;
  margin-top: 10px;
}
.badgesecond{
  color:var(--fonts);
  background-color:var(--terciary);
}
