/* You can add global styles to this file, and also import other style files */
:root{
  --primary:    #DAA520;
  --secondary:  #00645F;
  --terciary:   #333;
  --fonts:      #FFF;
}

body{
  background: var(--primary);
}
#head1, #foot1{
  background: var(--secondary);
  z-index: 999;
}
#foot1{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
}
h1, h2, .nav-link, a, a:hover{
  color: var(--fonts);
}
.nav-link.active{
  background-color: var(--primary) !important;
}
.nav-tabs .nav-link, .nav-tabs{
  border: none;
}
.badgesecond{
  color:var(--fonts);
  background-color:var(--secondary);
}
