<div id="hometitle">
    <h1>Vinicius de Santana</h1>
</div>
<div id="homeimagelinks">
    <a href="https://www.linkedin.com/in/viniciusvts/">
        <img src="./assets/Linkedin.png" alt="Me encontrar no LinkedIn" class="img" />
    </a>
    <a href="https://github.com/viniciusvts">
        <img src="./assets/github.png" alt="Me encontrar no GitHub" class="img" />
    </a>
    <a href="https://www.facebook.com/viniciusvts">
        <img src="./assets/fb.png" alt="Me encontrar no  Facebook" class="img" />
    </a>
    <a href="mailto:dev@vtsantana.com.br">
        <img src="./assets/email.png" alt="Me contactar por email" class="img" />
    </a>
</div>